.contenedor-corto{
	max-width: 550px;
	min-width: 550px;
}

.contenedor-largo{
	max-width: 800px;
	min-width: 800px;
}

section#login{
	width: 100%;
	float: left;
	clear: both;
	overflow: hidden;
	min-height: 20em;
	background-color: #FFF;
	margin: 0em;
	padding: 3em 0;
	padding-bottom: 6em;
	background-image: url(../img/fondo_auto.jpg);
	background-color: #000;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% auto;
}


section#login #titulo{
	width: 80%;
	padding: 0.2em 0;
	margin: 0 10%;
	float: left;
	clear: both;
	font-size: 2em;
	text-align: center;
	margin-top: 0em;
	background-color: #FFF;
	border-radius: 2em;
	border: solid #000 0.01em;
}

section#login form{
	
	width: 100%;
	float: left;
	clear: both;
	margin-top: 02em;
	background-color: rgba(255,255,255,0.95);
	padding-top: 4em;
	padding-bottom: 2em;
	border-radius: 0.7em;
}

section#login form#registro{
	padding-top: 1.6em;
}

section#login form #mensaje{	
	width: 100%;
	float: left;
	clear: both;
	color: red;
	margin-bottom: 3em;
	text-align: center;
}
section#login form .tipo_campo{
	width: 70%;
	margin: 0 15%;
	float: left;
	clear: both;
	margin-bottom: 0.2em;
}
section#login form .campo{
	width: 70%;
	margin: 0 15%;
	float: left;
	clear: both;
	border: solid #EEE 0em;
	border-bottom: solid #999 0.1em;
	border-radius: 0.0em;
	padding: 0.5em 0.7em;
	margin-bottom: 2.5em;
	background-color: rgba(0,0,0,0.0);
	text-align: center;
}

.contenedor_campo{
	width: 50%;
	float: left;
	clear: none;
	margin-bottom: 2.5em;
}

section#login form#registro .tipo_campo{
	width: 90%;
	margin: 0.5em 5%;
	clear: none;
}

section#login form#registro .campo{
	width: 90%;
	margin: 0 5%;
	clear: none;
}
section#login form#registro .dom{
	width: 40%;
	margin: 0 5%;
	margin-right: 0;
	clear: none;
}
section#login form#registro .alt{
	width: 25%;
	margin: 0 5%;
	margin-right: 0;
	clear: none;
}
section#login form#registro .piso{
	width: 15%;
	margin: 0 5%;
	clear: none;
}
section#login form .campo:focus{
	border-bottom: solid #111 0.1em;
	outline:0px;
}
section#login form .boton{
	width: 40%;
	margin: 0.5em 30%;
	padding: 0.5em 0%;
	clear: none;
	background-color: #ca4545;
	color: #FFF;
	cursor: pointer;
	border: solid #EEE 0.01em;
	font-weight: bold;
	
}
section#login form .boton:hover{
	background-color: #ca1515;
	color: #FFF;
	
}
section#login form .espacio{
	margin-left: 15%;
	
}
section#login form a{
	width: 70%;
	float: left;
	clear: both;
	margin: 0.5em 15%;
	text-decoration: none;
	color: #3483fa;
	text-align: center;
	
}
section#login form a:hover{
	color: rgba(52,131,250,0.65);
	
}
section#login form a.grande{
	font-size: 1.2em;
	
}



@media only screen and (max-width: 900px) {
	.contenedor-corto{
		max-width: 100%;
		min-width: 100%;
	}
	.contenedor-largo{
		max-width: 100%;
		min-width: 100%;
	}
	.contenedor_campo{
		width: 100%;
		float: left;
		clear: none;
		margin-bottom: 2.5em;
	}

	section#login{
		min-height: auto;
		padding: 4em 0;
		background-repeat: no-repeat;
		background-size: auto 100%;
	}

	section#login #titulo{
		width: 80%;
		padding: 0.2em 0;
		margin: 0 10%;
		font-size: 1.4em;
		margin-top: 0.5em;
	}

	section#login form{	
		margin: 0 5%;
		width: 90%;	
		margin-top: 1em;
		padding-top: 2em;
		padding-bottom: 2em;
	}
	section#login form #mensaje{	
		width: 100%;
		float: left;
		clear: both;
		color: red;
		margin-bottom: 3em;
		text-align: center;
	}
	section#login form .tipo_campo{
		width: 90%;
		margin: 0.2em 5%;
		margin-bottom: 0.2em;
		text-align: center;
		
	}
	section#login form .espacio{
		margin-left: auto;
		
	}
	section#login form .campo{
		width: 90%;
		margin: 0.2em 5%;
		margin-bottom: 1em;
		text-align: center;
	}
	section#login form .campo:focus{
		border-bottom: solid #111 0.1em;
		outline:0px;
	}
	section#login form .boton{
		width: 90%;
		margin: 0.5em 5%;
		border: solid #EEE 0.01em;
		font-weight: bold;
		
	}
	section#login form .boton:hover{
		background-color: #ca1515;
		color: #FFF;
		
	}
	section#login form a{
		
	}
	section#login form a:hover{
		
	}
	section#login form a.grande{
		font-size: 1.2em;
		
	}	
}