@charset "utf-8";
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	z-index: 5;
	font-size: 1em;
	list-style: none;
	font-family: 'Lato', Helvetica, sans-serif;
	overflow-x: hidden;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
}
body {
	min-width: 1000px;
	background-color: rgba(34,37,52,0.25);
}


.contenedor{
	max-width: 1300px;
	min-width: 1300px;
	margin: auto;
}
#header-celular{
	display: none;
}

header {
	background-color: #23282d;
	color: #ccc;
	clear: both;
	float: left;
	width: 100%;
	padding-top: 6px;
	padding-bottom: 6px;
	font-size: 14px;
	overflow: hidden;
}
header #icono {
	float: left;
	margin-right: 10px;
	margin-left: 10px;
	overflow: hidden;
}
header #casa {
	float: left;
	margin-right: 5px;
	margin-left: 10px;
	overflow: hidden;
	margin-top: 2px;
}
header #nombre {
	float: left;
	padding-right: 10px;
	padding-left: 5px;
	overflow: hidden;
	font-size: 13px;
	padding-top: 3px;
}
header #nuevo {
	float: left;
	padding-right: 10px;
	padding-left: 10px;
	overflow: hidden;
	font-size: 13px;
	padding-top: 2px;
	font-weight: bold;
	color: #CCC;
	text-decoration: none;
}

header #nombre_usuario {
	float: right;
	padding-right: 10px;
	padding-left: 5px;
	overflow: hidden;
	font-size: 13px;
	padding-top: 3px;
}
header #perfil {
	float: right;
	margin-right: 20px;
	margin-left: 0px;
	overflow: hidden;
	margin-top: 2px;
}



section#cuerpo {
	background-color: #f1f1f1;
	margin: 0px;
	padding: 0px;
	clear: both;
	float: left;
	width: 100%;
	overflow: hidden;
	min-height: 100%;
}
section#cuerpo menu {
	clear: left;
	float: left;
	overflow: hidden;
	background-color: #23282d;
	min-height: 100%;
	width: 190px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: -12000px;
	margin-left: 0px;
	padding-top: 20px;
	padding-right: 0px;
	padding-bottom: 12020px;
	padding-left: 0px;
}
section#cuerpo menu ul {
	margin: 0px;
	padding: 0px;
	clear: both;
	float: left;
	width: 100%;
	list-style-type: none;
	overflow: hidden;
}
section#cuerpo menu ul li {
	margin: 0px;
	padding: 0px;
	clear: both;
	float: left;
	width: 100%;
	overflow: hidden;
}
section#cuerpo menu ul #activo  {
	color: #0073aa;
	background-color: #000E1C;
	background-image: url(../img/activo.png);
	background-repeat: no-repeat;
	background-position: right center;
}
section#cuerpo menu ul li a{
	font-size: 13.3px;
	color: #E5E5E5;
	background-position: 10px center;
	clear: both;
	float: left;
	padding-top: 14px;
	padding-right: 0px;
	padding-bottom: 14px;
	text-decoration: none;
	display: block;
	padding-left: 40px;
	background-repeat: no-repeat;
	width: 95%;
}
section#cuerpo menu ul li a:hover {
	width: 100%;
	color: #0073aa;
	background-color: #000E1C;
	background-image: url(../img/activo.png);
	background-repeat: no-repeat;
	background-position: 10px center;
}
section#cuerpo menu ul li a#pedido {
	background-image: url(../img/pedidos.png);
}
section#cuerpo menu ul li a#producto {
	background-image: url(../img/productos.png);
}
section#cuerpo menu ul li a#cerrar {
	background-image: url(../img/logout.png);
}
section#cuerpo menu ul li a#usuario {
	background-image: url(../img/usuarios.png);
}

@media only screen and (max-width: 900px)  {
	*{
		overflow-x: visible;
	}
	html, body{
	}
	body {
		min-width: 100%;
	}
	.contenedor{
		max-width: 100%;
		min-width: 100%;
	}
	header {
		display: none;
	}
	header #icono {}
	header #casa {}
	header #nombre {}
	header #nuevo {}
	header #nombre_usuario{}
	header #perfil {}		
	menu#pc{
		display:none;
	}	
	#header-celular{
		width: 100%;
		float: left;
		clear: both;
		background-color: #23282d;
		display: inline-block;
	}	
	#header-celular a#menu-celular{
		background-image: url(../img/menu.png);
		background-position: center center;
		background-size: 100% 100%;
		background-repeat: no-repeat;
		width: 3em;
		height: 3em;
		margin: 1em;
		float: right;
	}
	#header-celular img#icono{
		width: 3em;
		height: 3em;
		margin: 1em;
		float: left;
	}
	
	section#cuerpo {
		background-color: #f1f1f1;
		margin: 0px;
		padding: 0px;
		clear: both;
		float: left;
		width: 100%;
		overflow: hidden;
	}
	section#cuerpo menu {
		display: none;
		clear: left;
		float: both;
		overflow: hidden;
		background-color: #23282d;
		width: 100%;
		padding-top: 0px;
		padding-right: 0px;
		padding-left: 0px;
		margin: 0;
		padding-bottom: 0;
	}
	section#cuerpo menu ul {
		margin: 0px;
		padding: 0px;
		clear: both;
		float: left;
		width: 100%;
		list-style-type: none;
		overflow: hidden;
	}
	section#cuerpo menu ul li {
		margin: 0px;
		padding: 0px;
		clear: both;
		float: left;
		width: 100%;
		overflow: hidden;
	}
	section#cuerpo menu ul #activo  {
		color: #0073aa;
		background-color: #000E1C;
		background-image: url(../img/activo.png);
		background-repeat: no-repeat;
		background-position: right center;
	}
	section#cuerpo menu ul li a{
		font-size: 1.5em;
		color: #E5E5E5;
		text-align: center;
		background-position: 10px center;
		clear: both;
		float: left;
		padding-top: 14px;
		padding-right: 0px;
		padding-bottom: 14px;
		text-decoration: none;
		display: block;
		padding-left: 40px;
		background-repeat: no-repeat;
		width: 95%;
		margin: 0.3em;
	}
	section#cuerpo menu ul li a:hover {
		width: 100%;
		color: #0073aa;
		background-color: #000E1C;
		background-image: url(../img/activo.png);
		background-repeat: no-repeat;
		background-position: 10px center;
	}
	section#cuerpo menu ul li a#pedido {
		background-image: url(../img/pedidos.png);
	}
	section#cuerpo menu ul li a#producto {
		background-image: url(../img/productos.png);
	}
	section#cuerpo menu ul li a#cerrar {
		background-image: url(../img/logout.png);
	}
	section#cuerpo menu ul li a#usuario {
		background-image: url(../img/usuarios.png);
	}

}